{% extends "base.html" %}

{% block content %}
    <h1>Add Team</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.teamName.label }}<br>
            {{ form.teamName(size=32) }}<br>
            {% for error in form.teamName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.homeGround.label }}<br>
            {{ form.homeGround(size=64) }}<br>
            {% for error in form.homeGround.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.city.label }}<br>
            {{ form.city(size=32) }}<br>
            {% for error in form.city.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}